/*Global styles*/

h1 {
  grid-area: h1;
}

.image {
  grid-area: image;
  max-width: 880px;
  width: 100%;
}

.details {
  grid-area: details;
}

.h2form {
  grid-area: h2form;
}

form {
  grid-area: form;
  margin: 0;
  max-width: 500px;
  max-height: 550px;
}

.h2some {
  grid-area: h2some;
}

.some {
  grid-area: some;
}

main {
  display: grid;
  grid-gap: 1rem;
}

.form__input {
  display: block;
}

.form-error {
  display: none;
  color: red;
  margin-bottom: 15px;
  width: 100%;
  max-width: 350px;
}

.sentMessage {
  display: none;
  background-color: lightgreen;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 10px 5px;
  width: 100%;
  max-width: 350px;
}

.some img {
  max-width: 180px;
  width: 100%;
}

.some p {
  text-align: center;
}

.details i {
  color: #0b3a40;
}

.details p {
  display: inline-block;
}

label,
input,
textarea {
  margin: 1rem 0;
}

textarea,
input[type="text"],
input[type="email"] {
  border: solid #0b3a40;
  border-radius: 20px;
  width: 263px;
  min-height: 30px;
  width: 100%;
}

/*Mobile styles*/
@media only screen and (max-width: 659px) {
  main {
    grid-template-areas:
      "h1"
      "image"
      "details"
      "h2form"
      "form"
      "h2some"
      "some";
  }
  .some {
    margin: 0 auto;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 660px) {
  main {
    grid-template-areas:
      "h1 h2form"
      "image form"
      "details form"
      "h2some h2some"
      "some some";
  }
  .some {
    display: flex;
    flex-direction: row;
  }
  .box {
    margin: 1rem;
  }
  .image {
    min-width: 300px;
  }
  .some img:hover {
    filter: opacity(70%);
  }
}
